@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Home Page";
}

<h2>Hello World</h2>
<p>This will be my website soon!!</p>

<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <div>
        <input type="submit" value="Add" />
    </div>

</form>
        

